:root {
  --body-color: #D8F3DC;
  --calendar: #B7E4C7;
  --input: #B7E4C7;
  --day: #40916C;
  --input-text: #081C15;
  --day-text: white;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
  height: 500px;
  margin: auto;
  background-color: var(--body-color);
  overflow: hidden;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  height: 220px;
  border-radius: 20px;
  box-shadow: #1b433273 0 0 30px 5px;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--calendar);
}

.input-container label {
  font-size: 18px;
}

#date-input {
  height: 20px;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
}

#calculate {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--day);
  color: var(--day-text);
  padding: 5px;
  width: 90px;
  height: 30px;
  font-size: 14px;
}

#calculate:active {
  transform: scale(0.98);
  font-size: 15px;
  transform: translateY(-1px);
}

.result {

  transition: margin-top 0.3s ease;
}

/* Restyling the calendar package */
.qs-datepicker-container {
  background-color: var(--calendar) !important;
}

.qs-controls {
  background-color: var(--calendar) !important;

}

.qs-month-year {
  color: rgb(71, 71, 71);
  border-bottom: unset;
}

.qs-month-year:not(.qs-disabled-year-overlay):hover {
  background-color: #95D5B2 !important;
  box-shadow: #081C15 0 0 5px !important;
  padding: 3px;
  border-radius: 5px;
  border-bottom: unset !important;
}

.qs-active {
  background: orange !important;
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: var(--input) !important;
}

.qs-num,
.qs-empty {
  border-radius: 0 !important;
  /* margin: 2px; */
  background-color: var(--day);
  color: var(--day-text);
  cursor: pointer;

}

.qs-day {
  border-bottom: 2px solid black;
  border-radius: 0 !important;
  
}

.qs-overlay {
  background: var(--day) !important;
}

.qs-overlay-year::placeholder {
  color: var(--day-text) !important;
}
